.fullWindow {
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.fullWindow h1 {
  margin: auto;
}

.inner {
  display: flex;
}

.projeto {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.projeto h1 {
  font-size: 2.5rem;
  margin: 0;
}

.projeto p {
  font-size: 1.5rem;
  margin: 0;
}

.projeto img {
  width: 500px;
}


.carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: 'Inknut Antiqua', serif;
  font-size: 1.5rem;
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  font-family: 'Inknut Antiqua', serif;
  font-size: 1.5rem;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
