.fullWindow {
  width: 100%;
  max-width: 90%;
  text-align: center;
}

.fullWindow h1 {
  margin: auto;
}

.inner {
  display: flex;
}

.projeto {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.projeto h1 {
  font-size: 2.5rem;
  margin: 0;
}

.projeto p {
  font-size: 1.5rem;
  margin: 0;
}

.img-container {
  width: 500px;
  height: 500px;
}

.projeto img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: 'Inknut Antiqua', serif;
  font-size: 1.5rem;
  text-align: center;
}

.inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  font-family: 'Inknut Antiqua', serif;
  font-size: 1.5rem;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media screen and (max-width: 800px) {

  .img-container {
    width: 200px;
    height: 200px;
  }

  .projDescripRight a {
    padding-top: 10%
  }

  .projeto {
    margin-right: 0;
    margin-bottom: 0;
  }

  .projeto p {
    font-size: 1rem;
  }
  
  .repoLink, 
  .testLink {
    display: inline;
  }

  .projDescripLeft {
    width: auto;
    padding-left: 0;
  }

  .proj-bts a{
    font-size: 15px;
    flex-direction: column;
    display: flex;
  }

  .fullWindow {
    height: fit-content;
    padding: 10% 0 10%;
  }

  .carrosel {
    height: fit-content;
    padding: 10% 0 10%;
  }

}