.fixed-contacts {
  position: fixed;
  bottom: 0;
  left: -1%;
}

.social-contact li {
  list-style: none;
  margin-bottom: 20%;  
}
.social-contact a {
  color: white;
  text-decoration: none;
}

.social-contact a:hover {
  color:#63EDD2;
}

.contact-line {
  content: "";
  width: 1px;
  height: 90px;
  margin-left: 50%;
  margin-top: 0.5%;
  background-color: white
}

.lightMode .contact-line {
  background-color: black;
}

.logoHeader {
  padding-left: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 0.5s;
  height: 4rem;
  font-family: 'Inknut Antiqua', serif;
  text-decoration: none;
  box-shadow: rgba(141, 141, 141, 0.1) 0px 20px 25px -5px, rgba(164, 164, 164, 0.04) 0px 10px 10px -5px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.darkIcon {
  color: white;
  transform: scale(150%);
  position: absolute;
  z-index: 4;
  width: fit-content;
  height: 44px;
  cursor: pointer;
  right: 4%;
  top: 30%;
}

.lightIcon {
  color: white;
  position: absolute;
  z-index: 4;
  width: fit-content;
  height: 44px;
  cursor: pointer;
  right: 4%;
  top: 30%;
  transform: scale(150%);
}

.list {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:column;
  font-size: 1.2rem;
  top: 6%;
  right: 2%;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding:0 1rem;
  border-radius: 1rem;
  transition: left 0.5s;
}

.listDesk {
  width: fit-content;
  color: white;

}

.listItems {
  padding: 0;
  list-style: none;
}

.listItemsDesk {
  display: flex;
  list-style: none;
}

.listItemsDesk li {
  margin-right: 2%;
}

.listItems a, .listItemsDesk a {
  text-decoration: none;
}

.lightMode .listItems a {
  color: white;
}


.listItems a:hover {
  text-decoration: underline;
}


.header-tags li {
  cursor: pointer;
}

.menu.menuOpen {
  display: flex;
  flex-direction: row-reverse;
  transition: all ease 0.8s;
  width: 100%;
}

.menu.menuClose {
  display: none;
  width: 0px;
}
.theme-icon {
  width: 6rem;
  height: 2rem;
  color: white;
  margin-top: 1%;
  margin-right: 5%;
  cursor: pointer;
}

.theme-icon:hover + .hoverMessage {
  display: block;
  color: white;
}

.lightMode {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

.lightMode header {
  background-color:#164910;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: black;
}

.darkMode {
  background-color:#0a0126;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.darkMode header {
  background-color:#0a0126;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  color: black;
}

.lightMode header li a {
 color:#000000;
}

.lightMode a,
.lightMode p,
.lightMode h1,
.lightMode h3
.lightMode li,
.lightMode li a,
.lightMode .repoLink,
.lightMode .testLink{
  color: #1c1b1b;
}

.lightMode .contactContainer li {
  color: #1c1b1b;
}

.darkMode {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lightMode .firstP,
.lightMode .thirdP,
.lightMode .span,
.lightMode .proj-title {
  color:#093603;
}

.lightMode .secondP,
.lightMode .forthP {
  color:#000000;
}


.darkMode a {
  color: white;
}

.logoIcon {
  color: white;
  box-sizing:inherit;
  width: 200%;
  height: 200%;
}

#presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 30%;
  width: 100%;
}

#foto-igor {
  width: 50%;
  height: 80%;
  cursor: pointer;
  filter: contrast(120%);
}

#fullDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  width: 80vw;
}

p, h1{
  font-family: 'Inknut Antiqua', serif;
  color: white;
}

.textDescription h1,
.techDescriptions h1,
.contactContainer h1,
.fullWindow h1 {
  font-size: xx-large;
  border-bottom: 1px solid white;
  width: fit-content;
}

.textDescription {
  width: 50%;
}

.textDescription p {
  margin-top: 5%;
  text-align: justify;
  font-size:  1rem;
}

.textDescription span {
  color: #63EDD2;
  font-weight: 700;
}

.aboutSideLine {
  content: "";
  width: 25rem;
  height: .1rem;
  margin-left: 35%;
  margin-top: -6%;
  background-color: white;
}

.firstP {
  color:#63EDD2;
  font-weight: 600;
  }
  
  .secondP,
  .forthP,
  .fifthP {
    color: rgb(163, 158, 158);
    text-align: justify;
  }
  
  .thirdP {
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
  width: 100%;
}


.proj-bts {
  width: 100%;
  display: inline;
  text-align: center;
}


.techTitle {
  display: flex;
  align-items: center;  
  margin-left: 10%;
  width: 80%;
  
}
.techSideLine {
 content: "";
 width: 55rem;
 height: .1rem;
 background-color: white;
 margin-left: 10%;
}

.techDescriptions {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 100vh;
}

.techTitleNImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hardSkills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  font-size: small;
  width: 100%;
}

.hardSkills li {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
}

.hardSkills img {
  width: 10rem;
  transform: scale(0.9);
}

.hardSkills img:hover {
  transform: scale(1);
  transition: ease-in 0.2s;
}

.gitIcon{
margin-top: 30%;
}

.proj-title {
  color:#63EDD2;
  text-align: center;
  font-size: large;
}


#tecnologies {
  transition: ease-in 5s;
}

.repoLink, .testLink {
  padding: 3%;
}

.repoLink:hover, .testLink:hover {
  box-shadow: rgba(253, 253, 253, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
  border-radius: 5%;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}

.contactContainer li {
  text-decoration: none;
  list-style: none;
  font-size: larger;
  text-align: center;
}

.contactContainer a {
  color: white;
}

.contactContainer h1 {

  width: fit-content;
  border-bottom: 1px solid white;
}

.contactsLinks {
  text-align: center;
  padding: 0;
}

@media screen and (max-width:800px) {

  header {
    justify-content: space-between;
  }

  #presentation {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  .presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .thirdP {
    font-size: xx-large;
  }

  .forthP {
    width: 90%;
    padding-top: 10%;
  }

  #fullDescription {
    flex-direction: column;
    margin-top: 0;
    width: 90%;
    height: auto;
  }

  #foto-igor {
    visibility: hidden;
  }
  #about{
    display: flex;
    justify-content: center;
  }

  .textDescription {
    width: 100%;
  }

  .textDescription h1, 
  .techDescriptions h1{
    font-size: x-large;
  }

  .aboutSideLine {
    visibility: hidden;
  }

  .techTitleNImgs {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .hardSkills {
    margin-left: 0%;
    padding-left: 0;
  }


.hardSkills img {
  width: 5rem;
}


  .techDescriptions {
    width: 90%;
    height: 100vh;
  }
  .techSideLine {
    visibility: hidden;
  }

  .techTitle {
    margin-left: 0;
  }

  .projDescripRight {
    text-align: center;
    width: 100%;
  }

  .projDescripRight a {
    padding-top: 10%
  }

  .proj-title {
    width: fit-content;
    height: fit-content;
  }
  .repoLink, 
  .testLink {
    display: inline;
  }

  .projDescripLeft {
    width: auto;
    padding-left: 0;
  }

  #contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .contactContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contactContainer p {
    width: 90%;
    margin: auto;
  }

  .fixed-contacts {
    display: none;
  }
}